@use '../variables'
@use '../mixins'

#info-container
  @include mixins.center
  flex-direction: column
  background-color: variables.$secondary-bg-clr
  padding: 1rem
  margin-bottom: 2rem
  text-align: left
  width: 80%
  border-radius: variables.$card-border-radius

  .info-card
    @include mixins.center
    justify-content: start
    gap: 1rem
    padding-bottom: 0.8rem
    margin-bottom: 0.8rem
    border-bottom: 1px solid #444
    width: 100%

    h3
      color: variables.$secondary-txt-clr
      font-size: 0.8rem
      margin-bottom: 0.5rem

    p
      color: variables.$main-txt-clr

    svg
      background-color: variables.$bg-clr
      padding: 0.4rem
      width: 2rem
      height: 2rem
      border-radius: variables.$card-border-radius
      min-width: 32px

    #phone-icon
      color: #e93b81

    #mail-icon
      color: #6ab5b9

    #location-icon
      color: #c17ceb
