$main_font: 'Helvetica'
$main_text_clr: #fff
$secondary_text_clr: #a6a6a6
$body_bg_clr: #271b31
$bg_color: #111
$secondary_bg_color: #1d1d1d
$container_border_radius: 10px
$card_border_radius: 5px
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%)
